.classpath
captures/
project.properties
.project
.settings
bin/
gen/
.idea/
*.iml
out
tests
local.properties
ant.properties
.DS_Store
build.log
build-log.xml
.gradle
build
signing.properties
library/lib/
library/obj/
ffpr
test/androidTestEspresso/res/values/arrays.xml
obj/
jni/libspeex/.deps/
*.sh
pkcs11.password
libs/signal-service-android-*.aar
libs/signal-service-java-*.jar
libs/ringrtc-android-*.jar
src/su/sres/securesms/backup/BackupProtos.java
src/su/sres/securesms/devicelist/DeviceNameProtos.java
res/values/firebase-messaging.xml
res/raw/whisper.store
witness-verifications.gradle
